* {
    margin: 0;
    padding: 0;
    font-family: 'Inika';
}

.nav img {
    width: 400px;
    margin-top: -50px;
    margin-right: 400px;
}

.login {
    margin-bottom: 100px;
    margin: auto;
    width: 586px;
    height: 561px;
}

.login h1 {
    color: #38B6FF;
    width: 487px;
    height: 111px;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    margin: auto;
}

.login input {
    width: 581px;
    height: 87px;
    background: #F5F5F5;
    border-radius: 60px;
    margin: 10px 0px;
    text-align: center;
    border: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
}

.login input:placeholder-shown {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
}

.login input[type=email]:focus,
.login input[type=password]:focus {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0);
}

.login a {
    text-decoration: none;
    margin-right: 10px;
    float: right;
    font-family: 'Lao Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.74);
}

.login .bg-blue {
    background-color: #38B6FF;
    font-family: 'Lao Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}